<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Medicina</title>
</head>
<body>
<form th:action="@{/medicines}" th:object="${medicine}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nombre es obligatorio</div>
    </div>
    <div>
        <label for="details">Detalles:</label>
        <input type="text" id="details" th:field="*{details}" />
        <div th:if="${#fields.hasErrors('details')}" th:errors="*{details}">Detalles son obligatorios</div>
    </div>

    <div th:object="${dosage}">
        <input type="hidden" th:field="*{medicationId}" />
        <input type="hidden" th:field="*{medicationId}" />
        <div>
            <label for="minimum_factor">Factor Mínimo:</label>
            <input type="text" id="minimum_factor" th:field="*{minimum_factor}" />
            <div th:if="${#fields.hasErrors('minimum_factor')}" th:errors="*{minimum_factor}">Factor mínimo es obligatorio</div>
        </div>
        <div>
            <label for="maximum_factor">Factor Máximo:</label>
            <input type="text" id="maximum_factor" th:field="*{maximum_factor}" />
            <div th:if="${#fields.hasErrors('maximum_factor')}" th:errors="*{maximum_factor}">Factor máximo es obligatorio</div>
        </div>
        <div>
            <label for="dosage_frequency">Frecuencia de Dosificación:</label>
            <input type="text" id="dosage_frequency" th:field="*{dosage_frequency}" />
            <div th:if="${#fields.hasErrors('dosage_frequency')}" th:errors="*{dosage_frequency}">Frecuencia de dosificación es obligatoria</div>
        </div>
        <div>
            <label for="max_daily_dose">>Maxima dosis diaria</label>
            <input type="text" id="max_daily_dose" th:field="*{max_daily_dose}" />
            <div th:if="${#fields.hasErrors('dosage_frequency')}" th:errors="*{max_daily_dose}">Maxima dosis diaria</div>
        </div>
    </div>

    <button type="submit">Guardar</button>
</form>
</body>
</html>